h1{
    
    text-align: center;
}
.cashy{
    text-align: center;
    display: flex;
    justify-content: space-around;
    

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color:lime;
}
.wambo nav ul li{
    display: block;
    float: left;
    /* background-color:purple; */
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
#water{
    background-color:pink;
    padding-top: 20px;
    padding-bottom: 200px;
    margin-top: 30px;
}
footer{
    background-color: purple;
    padding: 20px;
    justify-content: space-evenly;
}
.img{
    float: right;
    padding-right: 80px;
    margin-top: ;
    width:200px;
    height:300px;
}
.hello{
    text-align: center;
    padding-left: 250px;
}
